/** All elements that affect every page**/

body {
    margin: 0rem;
    padding: 1px;
    background-color: blue;
}

.heading {
    background-color: black;
    background-image: url("https://via.placeholder.com/728x90");
    text-align: center;
    color: white;
    margin: 0rem;
    padding: 1.33rem;
    display: none;
}

.heading p {
    font-style: italic;
    padding-top: 3px;
    margin-bottom: 0rem;
}

.heading h1 {
    margin-top: 0rem;
}

.main-nav {
    background-color: red;
    text-align: right;
    margin-bottom: 1rem;
}

.main-nav p {
    display: inline;
    text-align: left;
    color: white;
}

.main-nav a {
    padding-right: 1rem;

}

.footnote {
    text-align: center;
    color: white;
}

/** elements for indiviaual page**/


.image-showcase img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**gallery page elements**/

/** css flex box for the gallery page**/
.gallery {
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.gallery div {
    text-align: center;
    color: white;
}

.gallery img:hover {
    transform: scale(1.20);

}

/**main page elements**/


/**css flexbox for main page**/
.about {
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
    align-content: center;
    justify-content: space-around;
    text-align: center;
}

.about p {
    max-width: 300px;
}

/** Contacts page elements**/
.contact {
    max-width: 300px;
    text-align: left;
}

/** responsive design elements**/

@media screen and (max-width: 800px) {
    .heading {
        display: contents;
    }
    .main-nav {
        display: none;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .gallery {
        flex-direction: column;
    }
}